body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-image:url('/static/image/1.jpg');
  opacity:0.95;
}

.btn{
  display:inline-block; float:left;
  width:30%;
}

a.btn{
  display:inline-block; float:right;
}

.container{
  text-align:left;
  text-color:black;
  align-items: center;
  top:50%;
  justify-content: center;
  background: #f2f2f2;
  border-radius: 10px;
  border:solid 1px;
  border-color:black;
}

.container p{
  text-align:center;
  color:black;
}

.container h2{
  text-align:center;
  color:black;
}

.topnav {
  background-color: #008ae6;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333333;
  color: white;
}
