{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

	<script src="/static/js/sha1.js"></script>
	<script>
	// TODO:	ensure password1 matched password2 and is a valid password
	//			ensure first name, last name and email are valid

	var genKeys = function(firstname,lastname,email,password) {
		if(password !== document.forms['signup_form'].elements["password2"].value){
			document.getElementById("key_gen_message").innerHTML = "Passwords don't match! Fix this and try Generate Keys again";
			return;
		}
		if(password=='' || firstname=='' || lastname=='' || document.forms['signup_form'].elements["username"].value==''){
			document.getElementById("key_gen_message").innerHTML = "All fields are required! Fix this and click Sign Up again";
			return;
		}
		document.getElementById("key_gen_message").innerHTML = "Key generation started, this may take a while please wait.";
		var F = kbpgp["const"].openpgp;
		password = SHA1(password);
		var opts = {
			userid: firstname.concat(" ",lastname," <",email,">"),
			//userid: "User McTester <user@example.com>",
			primary: {
			nbits: 4096,
			flags: F.certify_keys | F.sign_data | F.auth | F.encrypt_comm | F.encrypt_storage,
			expire_in: 0  // never expire
			},
			subkeys: [
			{ nbits: 2048,flags: F.sign_data,expire_in: 0}, {
			  nbits: 2048,flags: F.encrypt_comm | F.encrypt_storage,expire_in: 0}
			]
		};
		kbpgp.KeyManager.generate(opts, function(err, alice) {
			if (!err) {
			// sign alice's subkeys
			alice.sign({}, function(err) {
				console.log(alice);
				// export demo; dump the private with a passphrase
				alice.export_pgp_private ({
					passphrase: password
					}, function(err, pgp_private) {
						document.forms['signup_form'].elements["private_key"].value = pgp_private;
						localStorage.setItem("privatekey",pgp_private);
						localStorage.setItem("password",password);
						console.log("private key generated");
				});
				alice.export_pgp_public({}, function(err, pgp_public) {
					document.forms['signup_form'].elements["public_key"].value = pgp_public;
					console.log("public key generated");
					//document.forms['signup_form'].elements["submit_button"].removeAttribute("disabled");
					document.getElementById("key_gen_message").innerHTML = "Key generation complete, submitting form...";
					document.forms['signup_form'].submit();
				});
			});
			}
		});
	};
	//myKeys = genKeys("kek","lastkek","lol@lol.com","123");

	</script>
	<div class="container">
		<form id="signup_form" method="post">
			{% csrf_token %}
			{{ form|crispy }}
			{{ faculty_form | safe }}
			<button type="button" class="btn btn-dark" onclick="genKeys(this.form.elements['first_name'].value,this.form.elements['last_name'].value,this.form.elements['email'].value,this.form.elements['password1'].value);">Sign Up</button>
		</form>
		<br><br>
		<p id="key_gen_message">Please click Sign Up to generate your encryption keys and submit the form. These are keys are used to encrypt form data</p>
	</div>
	<script>
	//This code is for updating the School dropdown box
	var school_obj = {{ schools_json | safe}}; // format: {'1':[['1','School of X'],['2','School of Y']],'2':[]}
	document.getElementById('signup_form').faculty_id.onchange = function() {
		schools = school_obj[document.getElementById('signup_form').faculty_id.value]
		//first remove all options from list
		document.getElementById('signup_form').dept_id.innerText = null
		//next add all relevant schools as options
		var opt = document.createElement("option");
		opt.text = "Please select one";
		opt.value = "0";
		document.getElementById('signup_form').dept_id.add(opt);
		for (var i = 0; i < schools.length; i++){
			opt = document.createElement("option");
			opt.text = schools[i][1];
			opt.value = schools[i][0];
			document.getElementById('signup_form').dept_id.add(opt);
		}

	};
	</script>
{% endblock %}
