{% extends 'base.html' %}

{% block title %}Testing{% endblock %}

{% block content %}
	<center><h2>Page for Testing</h2></center>
	<script>
	var key_managers = [];
	function encrypt(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				public_key = this.responseText;
				//console.log(public_key);
				var receiver = kbpgp.KeyManager.import_from_armored_pgp({
					armored: public_key
				}, function(err, alice) {
					if (!err) {
						console.log("alice is loaded");
						key_managers.push(alice);
						var params = {
						  msg: document.getElementById("plaintext2encrypt").value,
						  encrypt_for: key_managers[0]
						};
						kbpgp.box(params, function(err, result_string, result_buffer) {
						  console.log(err, result_string, result_buffer);

						  document.getElementById("encryptedtext").value = result_string;
						});
					}
				});
				/*
				var receiver = kbpgp.KeyManager.import_from_armored_pgp({
					armored: public_key
				}, function(err, receiver) {
					if (!err) {
					console.log("receiver's public key is loaded");
					console.log(receiver);
					// encrypt the message
					var params = {
					  msg: document.getElementById("plaintext2encrypt").value,
					  encrypt_for: receiver
					};
					kbpgp.box(params, function(err, result_string, result_buffer) {
					  console.log(err, result_string, result_buffer);

					  document.getElementById("encryptedtext").value = result_string;
					});
					} else {
						console.log("Error!");
					}
				});
				*/
			}
		};
		var userids = document.getElementById("receipientIDs").value.split(',');
		console.log(userids);
		for(var i =0;i<userids.length;i++){
			console.log(userids.length);
			console.log(userids[i]);
			xhttp.open("GET", "/pubkey/"+userids[i], true);
			xhttp.send();
		}
	}
	function decrypt(){
        // import receiver's public key
        var currUser = kbpgp.KeyManager.import_from_armored_pgp({
          armored: localStorage.getItem("privatekey")
        }, function(err, currUser) {
          if (!err) {
            if (currUser.is_pgp_locked()) {
              currUser.unlock_pgp({
                passphrase: localStorage.getItem("password")
              }, function(err) {
                if (!err) {
                  console.log("Loaded private key with passphrase");

                  // add KeyRing
                  var ring = new kbpgp.keyring.KeyRing;
                  ring.add_key_manager(currUser);

                  kbpgp.unbox({keyfetch: ring, armored: document.getElementById("ciphertext2decrypt").value }, function(err, literals) {
                    if (err != null) {
                      return console.log("Problem: " + err);
                    } else {
                      var decryptedText = literals[0].toString();
                      console.log("decrypted message: " + decryptedText);

                      document.getElementById("decryptedtext").value = decryptedText;

                      var ds = km = null;
                      ds = literals[0].get_data_signer();
                      if (ds) { km = ds.get_key_manager(); }
                      if (km) {
                        console.log("Signed by PGP fingerprint");
                        console.log(km.get_pgp_fingerprint().toString('hex'));
                      }
                    }
                  });

                } else {
                  console.log("Error in decryption unlock pgp");
                }
              });
            } else {
              console.log("Loaded private key w/o passphrase");
            }
          } else {
			console.log(err);
            console.log("Error in decryption import");
          }
        });
    }
	</script>
	<div class="container">
	<h2>Encrypt text</h2>
	<p><textarea rows="3" id="receipientIDs" placeholder="Write the list of recipients (comma seperated) here. Your ID is: {{ currentuser }}"></textarea></p>
	<p><textarea rows="7" id="plaintext2encrypt" placeholder="Write your message to encrypt here."></textarea></p>
	<p><button type="button" onclick="encrypt()">Encrypt</button></p>
	<p><textarea rows="7" id="encryptedtext" placeholder="Your message will appear in encrypted format in this box"></textarea></p>

	<h2>Decrypt text</h2>
	<p><textarea rows="7" id="ciphertext2decrypt" placeholder="Paste your message to decrypt here."></textarea></p>
	<p><button type="button" onclick="decrypt()">Decrypt</button></p>
	<p><textarea rows="7" id="decryptedtext" placeholder="Your decrypted message will appear in plaintext in this box"></textarea></p>
	<div class="container">
{% endblock %}
